<!DOCTYPE html>
<html>
  <head lang="utf-8">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
    <link rel="stylesheet" href="{{static_url('css/mui.min.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/mycss.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/index.css')}}"/>

    <script src="{{static_url('js/jquery-3.1.min.js')}}"></script>
    <script src="{{static_url('js/mui.min.js')}}"></script>
    <script src="{{static_url('js/myjs.js')}}"></script>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Statistics</a>
        <div class="dropdown-content">
          <a href="/power">Power BI </a>
          <a href="/line">Link 2</a>
          <a href="/bars">Link 3</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Table</a>
        <div class="dropdown-content">
          <a href="/table">Table</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>  
      <li><a href="#news">About</a></li>
    </ul>
  </head>
</html>